@using System.Globalization
@model IEnumerable<DigiKala.DataAccessLayer.Entities.OrderProduct>

@{
	ViewData["Title"] = "نمایش  سفارش ها";
	Layout = "~/Views/Shared/_Panel.cshtml";
	PersianCalendar pc = new PersianCalendar();
}

<div class="col-lg-offset-3 col-lg-8 col-md-offset-3 col-md-8 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 panel-back">

	<div class="margin-top-50">

		<h3 class="pull-right">
			سفارش های فروش
		</h3>
		<h3 class="pull-left">
			<input type="text" id="myInput" onkeyup="myfunction()" placeholder="جستجو ..." />
		</h3>

	</div>

	<div class="margin-top-30">

		<table class="table table-bordered table-hover" id="myTable">

			<thead>

				<tr>

					<th>
						@Html.DisplayNameFor(model => model.Product.Img)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Product.Name)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Product.Brand.Name)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Order.StartDateTime)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Order.Address)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Price)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Qty)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Status)
					</th>
					<th>مبلغ</th>
					<td></td>
				</tr>

			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							<img src="~/images/products/@item.Product.Img" style="max-width:25px;max-height:25px" />
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Product.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Product.Brand.Name)
						</td>
						<td>
							@($"{pc.GetYear(item.Order.StartDateTime)}-{pc.GetMonth(item.Order.StartDateTime)}-{pc.GetDayOfMonth(item.Order.StartDateTime)} {item.Order.StartDateTime.ToString("H:m:s")}")
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Order.Address)
						</td>
						<td>
							@item.Price.ToString("n0")
						</td>
						<td>
							@item.Qty
						</td>
						<td>
							@if (item.Status == DigiKala.DataAccessLayer.Entities.OrderStatusEnum.ارسالشده)
							{
								<span class="btn-xs btn-success">@item.Status</span>
							}
							else if (item.Status == DigiKala.DataAccessLayer.Entities.OrderStatusEnum.لغوشده)
							{
								<span class="btn-xs btn-danger">@item.Status</span>
							}
							else
							{
								<span class="btn-xs btn-warning">@item.Status</span>
							}

						</td>
						<td>
							<span>@((item.Price*(ulong)item.Qty).ToString("n0")) ریال</span>
						</td>
						<td style="white-space:nowrap">
							@if (item.Status == DigiKala.DataAccessLayer.Entities.OrderStatusEnum.درحالارسال)
							{
								<a href="#" onclick="ConfirmOrder(@item.OrderId,@item.ProductId)" class="btn-xs btn-info">تایید سفارش</a>
							}
							@*@if (item.Status == DigiKala.DataAccessLayer.Entities.OrderStatusEnum.درحالارسال)
								{
								<a href="#" onclick="CancelOrder(@item.OrderId,@item.ProductId)" class="btn-xs btn-danger">لغو سفارش</a>
								}*@
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">

	<div class="modal-dialog" role="document">

		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div id="bodyModal" class="modal-body">
			</div>

		</div>

	</div>

</div>


@section mySection
{
<script>
	function myfunction() {
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("myInput");
		filter = input.value.toUpperCase();
		table = document.getElementById("myTable");
		tr = table.getElementsByTagName("tr");

		for (var i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];

			if (td) {
				txtValue = td.textContent || td.innerText;

				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
</script>


<script>
	function ConfirmOrder(orderId,productId) {
		$.ajax({
			url: "/Panel/ConfirmOrder/?orderId=" + orderId + "&productId=" +productId,
			type: "Get",
			data: {}
		}).done(function (result) {
			$('#myModal').modal('show');
			$('#bodyModal').html(result);
		});
	}
</script>

<script>
	function CancelOrder(orderId,productId) {
		$.ajax({
			url: "/Panel/CancelOrder/?orderId=" + orderId + "&productId=" +productId,
			type: "Get",
			data: {}
		}).done(function (result) {
			$('#myModal').modal('show');
			$('#bodyModal').html(result);
		});
	}
</script>
}


