@model IEnumerable<DigiKala.DataAccessLayer.Entities.Banner>

@{
    Layout = null;
}

<div class="margin-top-50">

    <h3 class="pull-right">
        نمایش تعرفه جایگاه های تبلیغات
    </h3>
</div>

<div class="margin-top-30">

    <table class="table table-bordered table-hover">

        <thead>

            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Day)
                    </td>
                    <td>
                        @item.Price.ToString("n0") ریال
                    </td>
                </tr>
            }

        </tbody>

    </table>

</div>

